* {
    margin: 0;
    padding: 0;
}

/*-------------------------------------------------------------------------------------------------------------*/

.container {
    margin-top: 20px;    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.canvas-one {
    border: 1px solid red;
}